html {
  font-size: 10px;
}
.game-board {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.game-row {
  list-style: none;
  text-align: center;
  flex: 1 1;
}
.title {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  margin: 0.5rem 0;
  margin-bottom: 1rem;
  border-radius: 0.05rem;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}
.title-row {
  display: flex;
}
.question-rows {
  display: flex;
}
.game-row {
  margin: 0 0.25rem;
}
.game-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;

  color: #ecaa5f;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  font-family: Helvetica Condensed;
  font-size: 10rem;
  font-weight: 900;
  text-shadow: 0px 0px 0 black, 1px 1px 0 black, 2px 2px 0 black,
    3px 3px 0 black, 4px 4px 0 black, 5px 5px 0 black, 6px 6px 0 black,
    7px 7px 0 black, 3px 3px 1px black, 1px 1px 2px black, 2px 2px 2px black,
    4px 4px 2px black, 5px 5px 2px black, 6px 6px 2px black, 7px 7px 2px black;
}
.game-item:hover {
  background-color: #3826ff;
}
.back {
  display: none;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  transition: all 0.2s ease-in;
}
.modal.display-none {
  display: none;
}

.modal-content {
  background-color: #1700a0;
  margin: 5% auto;
  padding: 81px;
  border: 1px solid #888;
  width: 80%;
  color: white;
  font-size: x-large;
  font-family: ITC Korinna;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px black;
}
.modal-question.hide {
  display: none;
}
.correct-show {
  display: flex;
  flex-direction: column;
}
.correct-hide {
  display: none;
}
.wrong-show {
  display: flex;
  flex-direction: column;
}
.wrong-hide {
  display: none;
}
button {
  top: -50px;
  margin-left: 80%;
  display: inline-block;
  position: relative;
  background-color: #ecaa5f;
  padding: 1rem 1.5rem;
  line-height: 1;
  border-radius: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 0 transparent;
  transition: background 0.1s ease-out, top 0.1s ease-out,
    box-shadow 0.1s ease-out;
  color: #f3f1f1;
}
button:hover {
  top: -51px;
  box-shadow: 0 0.2rem 0 black;
  color: white;
}
input {
  margin-top: 4rem;
  font-size: 20px;
  width: 60%;
}
